body {
    font-family: Arial, sans-serif;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1f86e0, #0418ce);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1f86e0, #0418ce); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container{
    background-color: #706c6c;
    border-radius: 10px;
    margin-top: 20px;
}

.header-logo{
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
}

.inicio {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
} 

.table-container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead {
    background-color: #52a7d8;
    color: white;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table tr:hover {
    background-color: #f5f5f5;
}

table th {
    background-color: #6ccbe7;
    color: white;
}

.cart-container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table thead {
    background-color: #4596c5;
    color: white;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table tr:hover {
    background-color: #f5f5f5;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    font-size: 16px;
}

.cart-summary {
    text-align: right;
}

.cart-summary p {
    font-size: 18px;
}

button {
    background-color: #51a3bd;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4562a000;
}


.header {
    padding: 10px;
    text-align: center;
    color: white;
    border-radius: 3rem;
}

.nav {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 3rem;
}

.navbar{
    border-radius: 2rem;
}

.footer {
    text-align: center;
    padding: 20px;
    color: white;
}